{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1>Список пользователей</h1>
    <section>
        <article class="bd-callout bd-callout-warning">
            <strong>UID132078878</strong> - 11000$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID848717582</strong> - 110$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID273256896</strong> - 700$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID194378348</strong> - 300$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID132078878</strong> - 11000$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID848717582</strong> - 110$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID273256896</strong> - 700$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID194378348</strong> - 300$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID132078878</strong> - 11000$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID848717582</strong> - 110$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID273256896</strong> - 700$
        </article>

        <article class="bd-callout bd-callout-warning">
            <strong>UID194378348</strong> - 300$
        </article>

        
    </section>
</div>

{% endblock %}
