{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1>Список пользователей</h1>
    <section>
        {% for user in users %}
        <article class="bd-callout {% if user.is_superuser %}bd-callout-warning{% endif %}">
            <a href="{{ user.pk }}">{{ user.username }}</a>{% if user.first_name or user.last_name %} - {{ user.first_name }} {{ user.last_name }}{% endif %}
        </article>
        {% endfor %}
    </section>
</div>

{% endblock %}
