{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Лицей ++{% endblock %}</title>

    {% block disable_bootstrap_css %}<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">{% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <style>
        @font-face {
            font-family: 'Menoe Grotesque Pro';
            src: url("{% static '/fonts/Menoe_Grotesque_Pro.otf' %}");
        }
        .text-warning {
            color: var(--bs-warning);
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header>{% include 'header.html' %}</header>

            <main>
                {% block content %}<h1 class="text-center mt-3">Currently in developing</h1>{% endblock %}
            </main>
        </div>

        <div class="footer">{% include 'footer.html' %}</div>
    </div>

    {% block disable_bootstrap_js %}<script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>{% endblock %}
</body>
</html>