{% url 'home' as home_url %}
{% url 'item_list' as item_list_url %}
{% url 'description' as description_url %}
{% url 'user_list' as user_list_url %}
{% url 'profile' as profile_url %}

{% url 'signup' as signup_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'recover' as recover_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ home_url }}">Лицей ++</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{{ home_url }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == item_list_url %}active{% endif %}" href="{{ item_list_url }}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == description_url %}active{% endif %}" href="{{ description_url }}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == user_list_url %}active{% endif %}" href="{{ user_list_url }}">Пользователи</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == profile_url %}active{% endif %}" href="{{ profile_url }}">Мой профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{{ signup_url }}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>