{% extends 'base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1 class="mb-3">Каталог</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 1</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="1" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 2</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="2" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 3</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="3" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 4</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="4" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 5</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="5" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Item 6</text></svg>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium atque ducimus laborum consequuntur molestias voluptates dolorum quos facilis deleniti.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="6" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
