{% extends 'base.html' %}

{% block title %}Информация о товаре {{ pk }}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ item.name }}</h5>
            <p class="lead card-text text-warning">{{ item.category.name|default:item.category.slug }}</p>
            <p class="card-text">{{ item.text }}</p>
            <p class="card-text">
                {% for tag in item.tags.all %}
                <span class="badge bg-danger">{{ tag.name|default:tag.slug }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>

{% endblock %}
