{% extends 'base.html' %}

{% block title %}Информация о товаре {{ pk }}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="card">
        <img src="https://picsum.photos/1000/300" class="card-img-top" alt="pic">
        <div class="card-body">
            <h5 class="card-title">Товар №{{ pk }}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eveniet deleniti, qui ullam voluptatem aspernatur explicabo nesciunt expedita repudiandae, debitis blanditiis suscipit placeat tempora magni dolor provident fugit nulla molestiae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat temporibus ex amet, ipsam reprehenderit hic ea sunt, impedit nostrum optio exercitationem aliquid culpa aspernatur inventore recusandae et id! Non, molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quas veniam necessitatibus molestias perspiciatis quaerat facilis accusantium molestiae illo amet quam, vel neque eum, cum ad iure praesentium? Fugit, ipsa.</p>
            <a class="btn btn-primary">Добавить в корзину</a> <a href="{% url 'profile' %}" class="btn btn-success">Перейти в корзину</a>
        </div>
    </div>
</div>

{% endblock %}
