{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="lyceum_font">Главная страница</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsa modi rerum, veritatis deleniti, assumenda, libero fuga expedita explicabo autem consequuntur asperiores atque porro unde dolorem? Veniam numquam unde blanditiis.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
